# Node.js
node_modules/

# Output of the 'npm' package manager
npm-debug.log
yarn-error.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled output
/dist/
/*.js
/*.js.map

# Pinia store
/src/store/*.js
/src/store/*.js.map

# Tailwind CSS build output
/tailwind.config.js
/tailwind.css
/.cache/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?